# Python / PySide6 / Qt
__pycache__/
*.pyc
*.pyo
*.pyd
*.qmlc
*.qch
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
*.egg
*.spec

# Project-specific
devices.db
*.db
*.log
*.key

# Windows / macOS junk
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo